.leaflet-container {
    width: 50em;
    height: 50em;
    margin-left: 25em;
   }

.container {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 18em;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form{
	margin:auto;
}

form input{
	width:6.5em;
    padding: auto;
	border:1px solid #E1C908;
	border-radius:0.25em;
	background-color:#4B4737;
	margin:8px 0;
	display:inline-block;
    color: #E1C908;
}

form input:hover{
    background-color: #E1C908; /* Green */
    color: #4B4737;
}

form label{
    padding: 1em;
}

form button{
    background-color: #4B4737; /* Green */
	border:1px solid #E1C908;
	border-radius:0.25em;
    color: #E1C908;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 1em;
}

form button:hover {
    background-color: #E1C908; /* Green */
    color: #4B4737;
}